/* Body CSS Start */
body {
    padding: 0;
    margin: 0;
}

/* Body CSS End */

/* Header CSS Start */
.navbar {
    font-size: 1.5em !important;

}

.navbar-brand {
    font-size: 1.5em !important;
}
  
.d-flex{
    margin: 0 10px 0 0;
}
 #logout-btn{
display:none;
}

/* Header CSS End */

/* Home CSS Start */

.home .card {
    border: none !important;
}

.home .img-thumbnail {
    border-radius: 10px !important;
}

/* Home CSS End */

/* Explore CSS Start */

.explore .row {
    margin: 20px 0 !important;
}

.explore .mood-item {
    border-left: 5px solid red !important;
    border-radius: 5px !important;
    padding: 10px !important;
    margin: 10px 20px !important;
    background-color: gray !important;
}

.explore .trending {
    margin: 20px 0 0 0 !important;
}

.explore .trending-songs {
    display: flex !important;
}

.explore .trending-songs img {
    margin: 0 10px !important;
    height: 100px !important;
}

.explore .trending-videos {
    padding: 0 20px !important;
}

/* Explore CSS End */

/* Library CSS Start */

.library .history .row {
    margin: 20px 0 !important;
}

.library .history-songs {
    display: flex !important;
}

.library .history-songs img {
    margin: 0 10px !important;
    height: 100px !important;
}

.library .history-videos {
    padding: 0 20px !important;
}

/* Library CSS End */